@import './assets/css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #edeef3;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #edeef3 15px ), repeating-linear-gradient( #f3f4f755, #f3f4f7 );
  height: 100vh;
  background-repeat: no-repeat;
}

.bounded{
  @apply mx-20 max-md:mx-14 max-sm:mx-10;
}