@import './assets/css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #edeef3;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #edeef3 15px ), repeating-linear-gradient( #f3f4f755, #f3f4f7 );
  background-repeat: no-repeat;
  margin: 0;
  cursor: none !important;
  overflow-x: hidden;
  /* height: 300vh; */
}

* {
  cursor: none !important;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input:focus,
textarea:focus {
  outline: #0056b3 2px solid;
}

/* #cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #65adff80;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease, transform 0.2s ease;
  z-index: 1000;
} */

.bounded {
  @apply px-20 max-md:px-14 max-sm:px-10;
}

.portfolio-enter-active,
.portfolio-leave-active {
  transition: transform 0.5s ease;
}

.portfolio-leave-active,
.portfolio-enter-active,
.home-leave-active,
.home-enter-active,
.about-leave-active,
.about-enter-active {
  transition: opacity 0.5s ease-in-out;
}

/* Appliquer la largeur de 100% pendant la phase de sortie (leave-active) */
.portfolio-leave-to,
.portfolio-enter-from,
.home-leave-to,
.home-enter-from,
.about-leave-to,
.about-enter-from  {
  opacity: 0;
}


.work-leave-active {
  transition: transform 1s ease-in-out;
}

/* Appliquer la largeur de 100% pendant la phase de sortie (leave-active) */
.work-leave-to {
  transform: translateY(102%);
}

/* #app{
  @apply  h-screen flex flex-col max-sm:min-h-screen max-sm:h-auto
} */

#app {
  min-height: 100vh;
}