@import './assets/css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #edeef3;
  background-repeat: no-repeat;
  background: url('./assets/img/bg-pattern.png');
  background-size: cover;
  margin: 0;
  -webkit-animation: scale-up-center 30s ease-out infinite alternate ;
	animation: scale-up-center 40s ease-out infinite alternate ;
}

.bounded {
  @apply px-20 max-md:px-14 max-sm:px-10;
}

.portfolio-enter-active,
.portfolio-leave-active {
  transition: transform 0.5s ease;
}

.portfolio-leave-active,
.portfolio-enter-active,
.home-leave-active,
.home-enter-active,
.about-leave-active,
.about-enter-active {
  transition: opacity 0.5s ease-in-out;
}

/* Appliquer la largeur de 100% pendant la phase de sortie (leave-active) */
.portfolio-leave-to,
.portfolio-enter-from,
.home-leave-to,
.home-enter-from,
.about-leave-to,
.about-enter-from  {
  opacity: 0;
}


.careforu-leave-active {
  transition: transform 1s ease-in-out;
}

/* Appliquer la largeur de 100% pendant la phase de sortie (leave-active) */
.careforu-leave-to {
  transform: translateY(100vh);
}

#app{
  @apply  h-screen flex flex-col max-sm:min-h-screen max-sm:h-auto
}

.front{
  z-index: 50;
}

h1, h2, h3, h4, h5, h6, p , button, a{
  z-index: 50;
}

@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -512px -512px; }
}

@keyframes scale-up-center {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 200%;
  }
}